*{
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    background-image: url("../img/back.png");
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    margin: 20px;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    font-size: 20px;

}

a {
    font-size: 30px;
    text-align: center;
    display: block;
}

hr{
    margin: 20px 0px 20px;
}

.img {
    width: 700px;
    height: 500px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    margin: 0 auto;
}


.img a {
    width: 100%;
    height: 100%;
    display: block;
}

.img img {
    width: 100%;
    height: 100%;
    display: block; 
}